section {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
    height: 500px;
}
.espaco {
    height: 100px;
}
#calculadora {
    border: 3px groove rgb(3, 3, 3);
    background-color: gray;
    width: 29vw;
    height: 95%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
button {
    width: 23.5%;
    height: 75px;
    margin: 3px;
    border-radius: 10px;
    border: 1px solid black;
}
button:hover {
    opacity: 0.75;
}
#limpar {
    background-color: rgb(182, 38, 38);
}
#igual {
    position: relative;
    width: 97%;
    margin-top: 3px;
}
#tela {
    width: 98%;
    height: 15%;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    text-align: end;
    font-size: 20px;
    background-color: green;
    color: black;
}