section {
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}
.espaco {
    height: 200px;
}
#calculadora {
    border: 1px solid rgb(3, 3, 3);
    background-color: gray;
    width: 30vw;
    height: 90%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}
button {
    width: 23%;
    height: 50px;
    margin: 3px;
    border-radius: 5px;
}
#igual {
    position: relative;
    width: 97%;
    margin-top: 3px;
}
#tela {
    width: 97%;
    height: 15%;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}